<section class="profile">

    <h1>Welcome {{currentUser?.email}}</h1>

    <div *ngIf="myBookList">
        <ng-container *ngIf="myBookList.length > 0">
            <div class="my-books">
                <h1>My books</h1>
                <article class="book-list">
                    <div class="books">
                        <app-book-list-item *ngFor="let book of myBookList" [book]="book"></app-book-list-item>
                    </div>
                </article>
            </div>
        </ng-container>

        <ng-container *ngIf="myBookList.length === 0">
            <div class="my-books">
                <h1>My books</h1>
                <p>No books yet? Add one now <a routerLink="/add-book">Add</a></p>
            </div>
        </ng-container>
    </div>

    <div *ngIf="boughtBooks" class="bought-books-main">
        <ng-container *ngIf="boughtBooks.length > 0">
            <div class="bought-books">
                <h1>Bought Books</h1>
                <article class="book-list">
                    <div class="books">
                        <app-book-list-item *ngFor="let book of boughtBooks" [book]="book"></app-book-list-item>
                    </div>
                </article>
            </div>
        </ng-container>

        <ng-container *ngIf="boughtBooks.length === 0">
            <div class="bought-books">
                <h1>Bought Books</h1>
                <p>No purchased books</p>
            </div>
        </ng-container>
    </div>


</section>