<div class="login-form">
    <form >
        <div class="container">
          <h1 class="title">Login</h1>
    
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email">
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password">
    
          <button type="submit" class="loginbtn">Login</button>
        </div>
          <p>Don't have an account? <a href="#">Register</a>.</p>
      </form>
</div>