<section id="create-page">

    <article class="create-page-container">
      <form #addBookForm="ngForm" (ngSubmit)="submitBook(addBookForm)" class="create-page-form">
        <h2>Create a book</h2>

    
            <label for="title">title:</label>
            <input
            #titleName="ngModel"
              type="text"
              id="title"
              placeholder="title"
              name="title"
              value=""
              ngModel
              required
            />

            <ng-container *ngIf="titleName.touched && titleName.invalid">
              <p class="error">
                Title is required!
              </p>
            </ng-container>
    
            <label for="author">author:</label>
            <input
              type="text"
              id="author"
              placeholder="author"
              name="author"
              value=""
              ngModel
            />
    
            <label for="genre">genre:</label>
            <input
              type="text"
              id="genre"
              placeholder="genre"
              name="genre"
              value=""
              ngModel
            />
    
            <label for="img">Book image:</label>
            <input
              type="text"
              id="img"
              placeholder="Book image"
              name="img"
              value=""
              ngModel
            />
    
    
            <label for="price">price:</label>
            <input
              type="number"
              id="price"
              placeholder="price"
              name="price"
              value=""
              ngModel
            />

            <label for="description">description:</label>
            <textarea
              type="text"
              id="description"
              placeholder="description"
              name="description"
              ngModel
            > </textarea>
 

        <article class="create-page-button">
          <button [disabled]="addBookForm.invalid" class="btn-create">Create</button>
        </article>
      </form>

      <article class="create-page-image">
        <img src="https://www.osboha180.com/rack/assets/img/add.png" alt="image" />
      </article>
    </article>

  </section>
