<section id="create-page">

    <article class="create-page-container">
      <form action="/create" method="POST" class="create-page-form">
        <h2>Create a book</h2>

        <div class="form-context">
            <label for="title">title:</label>
            <input
              type="text"
              id="title"
              placeholder="title"
              name="title"
              value=""
            />
    
            <label for="author">author:</label>
            <input
              type="text"
              id="author"
              placeholder="author"
              name="author"
              value=""
            />
    
            <label for="genre">genre:</label>
            <input
              type="text"
              id="genre"
              placeholder="genre"
              name="genre"
              value=""
            />
    
            <label for="img">Book image:</label>
            <input
              type="text"
              id="img"
              placeholder="Book image"
              name="img"
              value=""
            />
    
            <label for="description">description:</label>
            <input
              type="text"
              id="description"
              placeholder="description"
              name="description"
              value=""
            />
    
            <label for="price">price:</label>
            <input
              type="number"
              id="price"
              placeholder="price"
              name="price"
              value=""
            />
        </div>

        <article class="create-page-button">
          <button class="btn-create">Create</button>
        </article>
      </form>

      <article class="create-page-image">
        <img src="https://www.osboha180.com/rack/assets/img/add.png" alt="image" />
      </article>
    </article>

  </section>
